<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Lastname</th>
            <th>Firstname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShopWebApp.Models.Person item in ViewBag.Persons)
        {
             
            <tr>
                <td>@item.Title</td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
            </tr>
        }
    </tbody>
</table>